//Media Query Mixin - Desktop-first
@mixin forSmallScreens($media) {
    @media (max-width: $media/16+em) {@content;}
}
.main-container {
    max-width: 980px;
    margin: auto;
    padding: 10px;
    background: #999;
    border-radius: 0 0 3px 3px;
}
//Article
.article-container {
    @extend %highlight-section;
    margin-bottom: 20px;
    padding:10px;
}
input {
    @extend %highlight-section;
}
//Main Content of the Page
.main-content {
    @extend %highlight-section;
    width: 75%;
    margin-right: 10px;
    padding: 10px;
    @include forSmallScreens(600) {
        width: 100%;
    }
    h1 {
        margin:0;
    }
}
//Placeholder
%highlight-section {
    border: white 1px solid;
    border-radius: 3px;
    background: rgba(white, .1);
}
//Helper Classes
.flex-container {
    display: flex;
    @include forSmallScreens(600) {
        display: block;
    }
}
//General
*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    font-family: Arial, "Helvetiac Neue", Helvetica, sans-serif;
}
blockquote {
    font-style: italic;
}
