//Media Query Mixin - Desktop-first
@mixin forSmallScreens($media) {
    @media (max-width: $media/16+em) {@content;}
}
//Main Container
.main-container {
    max-width: 980px;
    margin: auto;
    padding: 10px;
    background: #999;
    border-radius: 0 0 3px 3px;
}
//Contact Form
.contact-form {
    @extend %highlight-section;
    width: 540px;
    margin: 0 auto 20px;
    padding: 20px;
    @include forSmallScreens(600) {
        width: 100%;
    }
    h2 {
        margin-top:0;
    }
    label, buttton {
        display:block;
    }
    .comments {
        height: 100px;
    }
    .flex-container {
        justify-content: space-between;
        @include forSmallScreens(600) {
            display: flex;
        }
        @include forSmallScreens(400) {
            display: block;
        }
    }
    .label-col {
        width: 48%;
        @include forSmallScreens(400) {
            width:100%;
        }
    }
}
//Form Elements
.field,
.comments {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    @include forSmallScreens(420) {
        width:100%;
    }
}
//Placeholder
%highlight-section {
    border:white 1px solid;
    border-radius: 3px;
    background:rgba(white, .1);
}
//Helper Classes
.flex-container {
    dispaly: flex;
    @include forSmallScreens(600) {
        display: block;
    }
}

//General
*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
blockquote {
    font-style: italic;
}
